## Handling Imbalanced Dataset
1. Up Sampling
2. Down Sampling

In [1]:
import numpy as np
import pandas as pd

# set the random seed for reproducibility
np.random.seed(123)

## create a dataframe with the classes
n_sample=1000
class_0_ratio=0.9
n_class_0= int(n_sample * class_0_ratio)
n_class_1= n_sample - n_class_0

In [2]:
n_class_0,n_class_1

(900, 100)

In [6]:
## Create my dataframe with imbalance dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [9]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [10]:
df.head()

   feature_1  feature_2  target
0  -1.298881   1.300921       0
1  -0.764578  -0.930652       0
2  -0.822786  -0.851313       0
3  -1.120508   0.136584       0
4   2.119519  -0.424254       0

In [11]:
df.tail()

     feature_1  feature_2  target
995   1.380160   2.182661       1
996   2.524523   1.593748       1
997   2.666087   3.099766       1
998   2.448143   3.664058       1
999   2.494382   1.978673       1

In [13]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

## Upsampling the Data

In [14]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [16]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True, # sample with replacement
         n_samples =len(df_majority),
         random_state=42
        )

In [17]:
df_minority_upsampled.shape

(900, 3)

In [18]:
df_upsampled=pd.concat([df_majority, df_minority_upsampled])

In [19]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

## DownSampling the data

In [20]:
## Create my dataframe with imbalance dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [21]:
## Downsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [22]:
from sklearn.utils import resample
df_majority_downsampled=resample(df_majority,replace=False, 
         n_samples =len(df_minority),
         random_state=42
        )

In [23]:
df_majority_downsampled.shape

(100, 3)

In [24]:
df_downsampled=pd.concat([df_minority, df_majority_downsampled])

In [26]:
df_downsampled.target.value_counts()

1    100
0    100
Name: target, dtype: int64